/* General Styles  */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;400;500;600&display=swap');
body 
{
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    height: 100% ;
    font-family: 'Ysabeau Office', sans-serif;
    color: #222;
    background: #f8f8f8;
    font-size: 13px;
    overflow-x: hidden;
}
/* General Styles */
/* Start Section  */
.navbar-bg {
    background-color: #4f5269;
}
.nav-link  {
    color: #ffffff;
    font-size: 18px ;
    font-weight: 600;
    border: 1px solid ;
}
.nav-link:hover {
    color: #ffffff;
    font-size: 18px ;
    font-weight: 600;
    border: 1px solid ;
}
.form-body {
    background: url(../Image/theme-3-bg.jpg) no-repeat center bottom;
    background-size: cover;;
    height: 100vh;
    padding: 150px 0;
    height: 100%;
}
.form-body .signup {
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
    -moz-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
    -o-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    -ms-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
    border-radius: 15px ;

}
@media screen and (max-width: 768px){
.container {
    width: calc( 100% - 30px);
    max-width: 100%;
}}
@media (min-width: 768px){
    .form-body .signup {width: 900px ;}
}
.form-body .signup-content {
    padding: 75px ;
    display: flex;
    align-items: center;
    border-top: 8px solid #3F51B5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.signup-content h2 
{
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 600;
    border-bottom: 1px dotted #222;
    width: fit-content;
}
.form-body .form-group {
    position: relative;
}
.form-group label {
    position: absolute;
    left: 0;
    top: 50% ;
    transform: translateY(-50%);
    color: #222;
}
.form-group  input {
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    display: block;
    margin-bottom: 22px ;
    outline: none;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color:none;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.signup-content .button 
{
    display: block ;
    margin-bottom: 19px ;
    text-decoration: none;
    background-color: #6dabe4;
    color: #ffffff;
    width: fit-content;
    padding: 11px 40px;
    border-radius: 6px ;
    position: relative;
    font-size: 16px ;
    font-weight: 600;
    z-index: 1;
}
.signup-content .button::before 
{
    position: absolute;
    content: "";
    left: 0;
    width: 0% ;
    height: 100%;
    top: 0;
    right: 0 ;
    background-color: #222;
    z-index: -1;
    transition: width 0.7s linear;
    border-radius: 6px ;
    
}
.signup-content .button:hover::before 
{
    width: 100% ;
}
.signup-content .text {
    color: #222;
    font-weight: 600;
    font-size: 16px ;
}
#confirmMsg {
 
    color: white;
    background: green;
    padding: 14px 100px;
}